<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Sistema de Filmes e Diretores</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <nav>
      <a href="/movies">Filmes</a> |
      <a href="/directors">Diretores</a>
    </nav>
    <hr>
  </header>
  <main> 